@import "tailwindcss";

@source inline("bg-{red,orange,yellow,green,blue,purple,pink,gray}-400!");
@source inline("text-{red,orange,yellow,green,blue,purple,pink,gray}-900!");

@source inline("hidden");
@source inline("rounded-md!");
@source inline("rounded-full! aspect-square!");
@source inline("rotate-45! rounded-md! aspect-square!");
@source inline("rounded-[50%_/_20%]!");

.key-cap{
  @apply relative bg-neutral-800 text-neutral-200 border-1 border-neutral-600 text-neutral-400
         min-w-9 h-9 px-2.5 flex items-center justify-center rounded-lg font-semibold text-sm 
         shadow-[0_2px_4px_rgba(0,0,0,0.4),inset_0_1px_0_rgba(255,255,255,0.05)] 
         animate-[pop-in_0.18s_ease-out]
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--mono);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  background: #232120;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.key-bar {
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  pointer-events: none;
}

.key-cap--success {
    animation: success-out 0.4s ease-in forwards;
}

.key-cap--pending {
    animation: pending 0.4s linear infinite;
}

.key-cap--fail {
    animation: fail-out 0.45s ease-in forwards;
}

@keyframes pop-in {
    from {
        transform: translateY(24px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes success-out {
    to {
        transform: translateY(-24px);
        opacity: 0;
    }
}

@keyframes fail-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(-8px);
    }
    40% {
        transform: translateX(8px);
    }
    60% {
        transform: translateX(-6px);
    }
    80% {
        transform: translateX(6px);
    }
    100% {
        transform: translateX(0);
        opacity: 0;
    }
}

@keyframes pending {
  0% { transform:   translateY(0) }
  25% { transform:  translateY(2px) }
  50% { transform:  translateY(-2px) }
  75% { transform:  translateY(2px) }
  100% { transform: translateY(0) }
}

@keyframes current-node {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}